<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}" lang="en">
<head>
    <title>Peeper | admin dashboard</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="row" style="margin-bottom: 5vw">
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="#">Peeper</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/dashboard">Dashboard
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/admin-users">Users
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/admin-peeps">Peeps
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row mt-3 mb-3">
            <h2>Dashboard</h2>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <a href="#"><img class="card-img-top" src="https://i.imgur.com/qKpXtCV.png" alt=""></a>
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            <a href="/admin-users">Users</a>
                        </h4>
                        <p class="card-text" th:text="'Amount of users : ' + *{data.userAmount}"></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <a href="#"><img class="card-img-top" src="https://i.imgur.com/VyQId8B.png" alt=""></a>
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            <a href="/admin-peeps">Peeps</a>
                        </h4>
                        <p class="card-text" th:text="'Amount of peeps : ' + *{data.peepAmount}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>